
$colorprimario: rgb(255, 0, 0);
$fuenteunica:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

.PARTE1 { 
    padding: 2%;
    text-align: center;
    color: $colorprimario;
    background-color: black;
    font-family:$fuenteunica;
    margin: 0;
}

.PARTE2 { 
    padding: 2%;
    text-align: center;
    color: $colorprimario;
    background-color: black;
    font-family:$fuenteunica;
    margin: 0;
}
.PARTE3 { 
    padding: 2%;
    text-align: center;
    color: $colorprimario;
    background-color: black;
    font-family:$fuenteunica;
    margin: 0;
}
.PARTE4 { 
    padding: 2%;
    text-align: center;
    color: $colorprimario;
    background-color: black;
    font-family:$fuenteunica;
    margin: 0;
}