* {
  padding: 0%;
  margin: 0%;
}

@import "animacion";
@import "secciones";
@import "piedepagina";

.titulo {
  text-align: center;
  background-color: red;
  border-radius: 60%;
  margin: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@mixin imagen($ancho: 550px) {
  width: $ancho;
  height: 550px;
}
.imagen1 {
  @include imagen;
}

.imagen2 {
  @include imagen;
}

.imagen3 {
  @include imagen;
}

.imagen4 {
  @include imagen;
}

.titulo2 {
  color: rgb(211, 255, 16);
  padding: 2%;
  text-decoration-line: overline;
  font-style: oblique;
}

.texto {
  color: rgb(252, 252, 252);
  padding: 2%;
  text-align: justify;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  font-family: sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  background-color: rgb(0, 0, 0);
  align-items: center;
  padding: 10px;
  font-style: oblique;
}

.logoimagen {
  margin-right: 50px;
  width: 80px;
}

.GBFITNESS {
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover {
  color: red;
}

@media (max-width: 600) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 0px;
  }
}

.titulo3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 1%;
  color: rgb(238, 255, 0);
}

.ubi {
  width: 500px;
  height: 500px;
  padding: 1%;
}

.ref {
  color: rgb(238, 255, 0);
  padding: 1%;
}

.texto2 {
  color: rgb(252, 252, 252);
  padding: 0%;
  text-align: justify;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.titulo4 {
  color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: oblique;
}

.medios {
  font-size: 20px;
  margin: 0px 18px;
}

.imagen6 {
  width: 50px;
  height: 50px;
  padding: 1%;
}

.imagen7 {
  width: 50px;
  height: 50px;
  padding: 1%;
}

.imagen8 {
  width: 50px;
  height: 50px;
  padding: 1%;
}

.imagen9 {
  width: 50px;
  height: 50px;
  padding: 1%;
}

.titulo5 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: oblique;

  color: red;
  text-align: center;
}

.imagen10 {
  height: 400px;
  padding: 0%;
  text-align: center;
}

.main {
  width: 100%;
  height: 100%;
}

table,
th {
  color: white;
  border: 1px solid rgb(226, 208, 208);
}

.titulo20 {
  color: rgba(255, 253, 253, 0.993);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: oblique;
  background-color: black;
}
table {
  padding: 2%;
}
